{% extends 'userbase.html' %}{% block title %}Weightloss{% endblock title %}
{% block body %}
<section class="contact" id="contact">
    <div class="heading">
        <h3>Weightloss Diet Plan</h3><br><br>
    </div>
    <div class="container">
        <div class="contact-form">
            <div class="row">
                <form method="post" action="">
                {% csrf_token %}
                <div class="col-md-5">
                    <input type="text" placeholder="Your Weight..." name="weight">
                    <input type="text" placeholder="Your Height..." name="height">
                    <input type="text" placeholder="Your Age..." name="age">
                </div>
                <input type="submit" value="Get Diet Plan" class="btn">
            </form>
            </div>

        </div>

    </div>
</section>
{% endblock body %}