@import url("https://fonts.googleapis.com/css?family=Roboto");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  
  
}
*:before,
*:after {
  box-sizing: border-box;
}

/* Start of upper header css */

.social-call {
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: center;
  background: #111;
  border: 1px solid transparent;
  border-bottom: 2px solid rgba(255, 254, 254, 0.1);
  padding-top: 5px;
  cursor: pointer;
}

.social a {
  margin: 0 10px;
  color: rgba(253, 251, 251, 0.7);
  font-size: 0.9rem;
}

.social a:hover {
  color: #f0f40a;
}

.phone {
  color: rgba(252, 250, 250, 0.7);
  margin-left: 30px;
  font-size: 0.9rem;
  text-transform: uppercase;
}

/* End of Upper header css */

.row {
  display: flex;
  flex-wrap: wrap;
}
.v-center {
  align-items: center;
}

/* css for class header */

.header {
  position: relative;
  display: block;
  padding: 15px;
  width: 100%;
  background: #111;
  color: #fff;
}
.header .icon {
  display: none;
}

.header .item-left {
  flex: 0 0 17%;
}
.header .item-center {
  padding-top: 10px;
  flex: 0 0 60%;
}
.header .item-right {
  flex: 0 0 17%;
  display: flex;
  justify-content: flex-end;
}

.header .item-right a {
  display: inline-block;
  margin-left: 15px;
  font-size: 15px;
  color: #fff;
}

.header .logo a {
  font-size: 25px;
  font-weight: 900;
  font-style: italic;
  letter-spacing: 1.5px;
  color: #f0f40a;
  line-height: 20px;
}

.header .menu ul li {
  display: inline-block;
  margin-left: 20px;
  line-height: 30px;
}

.header .menu ul li a {
  position: relative;
  display: block;
  font-size: 20px;
  color: #fff;
}
.header .menu ul li a:hover {
  border-bottom: 2px solid #f0f40a;
}
/* login */

.form {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 102;
}

.login-form .effect,
.sign-up-form .effect {
  color: #f0f40a;
}

.login-form,
.sign-up-form {
  position: relative;
  width: 420px;
  padding: 20px 10px;
  background-color: #fff;
  box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 5px;
}

.login-form form,
.sign-up-form form {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.login-form strong,
.sign-up-form strong {
  color: #272727;
  font-size: 25px;
  margin: 2px 7px 7px 7px;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  font-weight: 600;
}

.login-form input,
.sign-up-form input {
  width: 90%;
  height: 45px;
  margin: 6px 0;
  padding: 0 10px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  outline: none;
  border-radius: 7px;
}

.login-form input:hover,
.sign-up-form input:hover {
  border: 1px solid #111;
}

.login-form input::placeholder,
.sign-up-form input::placeholder {
  color: rgba(0, 0, 0, 0.7);
}

.login-form input[type="submit"],
.sign-up-form input[type="submit"] {
  background-color: #f0f40a;
  color: #111;
  border: none;
  outline: none;
  text-transform: uppercase;
  margin-top: 10px;
  border-radius: 10px;
  box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  font-size: 1rem;
  font-weight: bold;
}
.login-form input[type="submit"]:hover,
.sign-up-form input[type="submit"]:hover {
  background: #fff;
  border: 2px solid #f0f40a;
}

/* End of Login */

/* Login BTNS */

.form-btns {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.form-btns .forget {
  color: #4d4d4d;
  font-size: 0.9rem;
}

.form-btns .sign-up-btn {
  color: #111;
  font-size: 0.9rem;
  font-weight: bold;
}
.form-btns .already-account {
  color: #111;
  font-size: 0.9rem;
  font-weight: bold;
}
.sign-up-btn {
  border-bottom: 1px solid #868686;
  line-height: 18px;
}

.form-cancel {
  position: absolute;
  right: 20px;
  top: 10px;
  color: #868686;
}
.form-cancel:hover {
  color: #f0f40a;
}

.login-form,
.sign-up-form,
.form {
  display: none;
}

.login-active,
.login-active .login-form {
  display: flex;
  animation: fade 0.3s;
}

.sign-up-active,
.sign-up-active .sign-up-form {
  display: flex;
  animation: fade 0.3s;
}

@keyframes fade {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

/* End of Login BTNS */

/* Backgrounnd image */
.how-section1{
  background: #272727;
  margin-top:-15%;
  padding: 10%;
}
.how-section1 h1{
  color: #fff;
  font-weight: bold;
  font-size: 60px;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}
.how-section1 .subheading{
  color: #3931af;
  font-size: 20px;
}
.how-section1 .row
{
  margin-top: 10%;
}
.how-img 
{
  text-align: center;
}
.how-img img{
  width: 80%;
}
.row input {
  width: 90%;
  height: 45px;
  margin: 6px 0;
  padding: 0 10px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  outline: none;
  border-radius: 7px;
}
.row input[type="submit"]{
  background-color: #f0f40a;
  color: #111;
  border: none;
  outline: none;
  text-transform: uppercase;
  margin-top: 10px;
  border-radius: 10px;
  box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  font-size: 1rem;
  font-weight: bold;
}
.row input[type="submit"]:hover {
  background: #fff;
  border: 2px solid #f0f40a;
}
/*SEARCH*/

.search-bar {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 300px;
  background-color: white;
  display: flex;
  justify-content: center;
  box-shadow: 2px -5px 30px rgba(0, 0, 0, 0.1);
  z-index: 101;
  animation: search 0.4s;
}

.search-input {
  width: 90%;
  border-bottom: 2px solid #f0f40a;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  margin-top: 20px;
}

.search-bar input {
  width: 100%;
  padding: 30px;
  border: none;
  outline: none;
  font-size: 2rem;
  margin: 20px;
  padding: 0px 20px;
}

.search-cancel {
  color: #272727;
  font-size: 1.6rem;
  padding-right: 40px;
}

.search-cancel:hover {
  color: #f0f40a;
}

.search-bar {
  display: none;
}

.search-bar-active {
  display: flex;
}

@keyframes search {
  0% {
    bottom: -300px;
  }
  100% {
    bottom: 0px;
  }
}

/*END OF SEARCH*/

@media (max-width: 1024px) {
  .header .menu ul li a {
    position: relative;
    display: block;
    font-size: 15px;
    color: #fff;
  }
}

/* Stepper CSS Start */


#progress-bar-container li .step-inner {
  position: absolute;
  width: 100%;
  bottom: 0;
  font-size: 14px;
}

#progress-bar-container li.active,
#progress-bar-container li:hover {
  color: #444;
}

#progress-bar-container li::after {
  content: " ";
  display: block;
  width: 6px;
  height: 6px;
  background-color: #777;
  margin: auto;
  border: 7px solid #fff;
  border-radius: 50%;
  margin-top: 40px;
  box-shadow: 0 2px 13px -1px rgba(0, 0, 0, 0.2);
  transition: all ease 0.25s;
}
#progress-bar-container li:hover::after {
  background: #555;
}

#progress-bar-container li.active::after {
  background: #207893;
}

#progress-bar-container #line {
  width: 80%;
  margin: auto;
  background-color: #eee;
  height: 6px;
  position: absolute;
  left: 10%;
  top: 57px;
  z-index: 1;
  border-radius: 50px;
  transition: all ease 0.75s;
}

#progress-bar-container #line-progress {
  content: " ";
  width: 8%;
  height: 100%;
  background-color: #207893;
  background: linear-gradient(to right #207893 0%, #2ea3b7 100%);
  position: absolute;
  z-index: 2;
  border-radius: 50px;
  transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.25);
}
#progress-content-section {
  position: relative;
  top: 100px;
  width: 90%;
  margin: auto;
  background: #111;
  border-radius: 20px;
}
#progress-content-section .section-content {
  padding: 30px 40px;
  text-align: center;
}

.section-content h2 {
  font-size: 30px;
  text-transform: uppercase;
  color: #fff;
  letter-spacing: 1px;
}

.section-content p {
  font-size: 16px;
  line-height: 1.8rem;
  color: #777;
}

.section-content {
  display: none;
  animation: FadeinUp 0.7s ease 1 forwards;
  transform: translateY(15px);
  opacity: 0;
}

.section-content.active {
  display: block;
  opacity: 1;
}
.progress-wrapper {
  margin: auto;
  max-width: 1080px;
}
#progress-bar-container {
  position: relative;
  width: 90%;
  margin: auto;
  height: 100%;
  margin-top: 65px;
}
#progress-bar-container ul {
  padding-top: 15px;
  z-index: 999;
  position: absolute;
  width: 100%;
  margin-top: -40px;
}
#progress-bar-container li::before {
  content: " ";
  display: block;
  margin: auto;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 2px solid #aaa;
  transition: all ease 0.3s;
}

#progress-bar-container li.active::before,
#progress-bar-container li:hover::before {
  border: 2px solid #fff;
  background-color: crimson;
}
#progress-bar-container li {
  list-style: none;
  float: left;
  width: 33%;
  text-align: center;
  color: #aaa;
  text-transform: uppercase;
  font-size: 11px;
  cursor: pointer;
  font-weight: 700;
  transition: all ease 0.2s;
  vertical-align: bottom;
  height: 60px;
  position: relative;
}

@keyframes FadeInUp {
  0% {
    transform: translateY(15px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

/* .about-you {
  position: relative;
  padding: 10px 10px;
  background-color: #fff;
  box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
} */

/* Step 1 & Step 2 */

.about-you form{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.about-you input, 
.getDetails input {
  width: 90%;
  height: 45px;
  margin: 6px 0;
  padding: 0 10px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  outline: none;
  border-radius: 7px;
}
.about-you input[type="submit"], 
.getDetails input[type="submit"]{
  background-color: #f0f40a;
  color: #111;
  border: none;
  outline: none;
  text-transform: uppercase;
  margin-top: 10px;
  border-radius: 10px;
  box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  font-size: 1rem;
  font-weight: bold;
}
.about-you  input[type="submit"]:hover, 
.getDetails input[type="submit"]:hover {
  background: #fff;
  border: 2px solid #f0f40a;
}

.container form{
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.container input{
  width: 90%;
  height: 30px;
  margin: 6px 0;
  padding: 0 10px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  outline: none;
  border-radius: 7px;
  
}
.container label{
  color: #fff;
}

.container input[type="submit"]{
  background-color: #f0f40a;
  color: #111;
  border: none;
  outline: none;
  width: 50%;
  height: 50px;
  text-transform: uppercase;
  margin-top: 20px;
  border-radius: 10px;
  box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  font-size: 1rem;
  font-weight: bold;
}
.container input[type="submit"]:hover {
  background: #fff;
  border: 2px solid #f0f40a;
}

/* .progress-wrapper{
  display: none;

}
.progress-wrapper-active{
display: flex;
  
} */
